* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

main {
  background-image: url(images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.header-section {
  padding: 15% 0 30% 0;
}

.logo-img {
  display: block;
  margin: 0 auto;
}

h1 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 5%;
}

.header-para {
  color: hsl(201, 11%, 66%);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 1rem;
  padding-bottom: 10%;
  line-height: 1.5rem;
}

.ios-cont, .mac-cont {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.ios-btn {
  color: hsla(0, 0%, 100%, 0.9);
  background-color: hsl(171, 66%, 44%);
  border: 0.1rem solid hsl(171, 66%, 44%);
  padding: 4% 25%;
  border-radius: 2.5rem;
  box-shadow: 0px 3px 2px hsla(171, 66%, 40%, 1);
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.3s all ease-in-out;
}

.mac-btn {
  color: hsla(0, 0%, 100%, 0.9);
  background-color: hsl(233, 100%, 69%);
  border: 0.1rem solid hsl(233, 100%, 69%);
  padding: 4% 25%;
  border-radius: 2.5rem;
  box-shadow: 0px 3px 2px hsla(233, 100%, 65%, 1);
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.3s all ease-in-out;
}

.ios-btn:hover, .mac-btn:hover {
  opacity: 0.7;
}

.track-section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30%;
}

.track-h2 {
  color: hsl(210, 10%, 33%);
  text-align: center;
  width: 75%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 3%;
}

.track-p {
  color: hsl(201, 11%, 66%);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 16%;
  line-height: 1.5rem;
}

.computer-img {
  width: 95%;
  display: block;
  margin: 0 auto;
}

.computer-h2, .access-h2 {
  color: hsl(210, 10%, 33%);
  text-align: center;
  padding: 15% 0 3% 0;
  width: 90%;
  margin: 0 auto;
}

.computer-p, .access-p {
  color: hsl(201, 11%, 66%);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  line-height: 1.5rem;
}

.access-section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 22%;
}

.devices-img {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 15%;
}

.tools-section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 25%;
}

.tools-h2 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: hsl(210, 10%, 33%);
  padding-bottom: 3%;
  font-size: 1.6rem;
}

.tools-p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: hsl(201, 11%, 66%);
  padding-bottom: 15%;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.tools-icons {
  display: block;
  margin: 0 auto;
  padding-top: 12%;
}

.create-head-p, .text-head-p, .sneak-head-p {
  color: hsl(210, 10%, 33%);
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 10%;
}

.create-p, .text-p, .sneak-p {
  color: hsl(201, 11%, 66%);
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-size: 0.9rem;
  padding-top: 5%;
  line-height: 1.5rem;
}

.logos {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 30%;
}

.logo-img {
  padding: 15% 0;
}

.clipboard-section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 25%;
}

.clipboard-h2 {
  color: hsl(210, 10%, 33%);
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
}

.clipboard-p {
  color: hsl(201, 11%, 66%);
  width: 81.5%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding-top: 5%;
  padding-bottom: 10%;
}

.footer-section {
  background-color: hsl(201, 11%, 95%);
}

.logo-footer {
  width: 15%;
  display: block;
  margin: 0 auto;
  padding: 10% 0;
}

.footer-links {
  text-align: center;
}

.footer-links li {
  padding: 3% 0;
}

.footer-links a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  transition: 0.1s all ease-in-out;
}

.footer-links a:hover {
  color: hsl(171, 80%, 44%);
}

.footer-socials {
  text-align: center;
  padding: 10% 0 5% 0;
}

.footer-socials li {
  display: inline;
  padding: 0 4%;
}

.footer-socials a {
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}

.footer-socials a:hover {
  filter: invert(0.33) sepia(1) saturate(10.8) hue-rotate(130.6deg) brightness(1);
}

.info {
  background-color: hsl(201, 11%, 95%);
  padding: 5% 0;
}

@media only screen and (min-width: 768px) {
  main {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

  .header-section {
    padding: 10% 0 10% 0;
    width: 60%;
    margin: 0 auto;
  }

  .logo-img {
    padding-bottom: 0;
  }

  h1 {
    padding-top: 5%;
  }

  .btns-cont {
    display: flex;
    width: 77%;
    margin: 0 auto;
  }

  .ios-cont, .mac-cont {
    width: 50%;
  }

  .ios-btn {
    padding: 5% 10%;
  }

  .mac-btn {
    padding: 5% 10%;
  }

  .track-section {
    width: 100%;
    padding-bottom: 0;
  }

  .track-h2 {
    width: 60%;
  }

  .track-p {
    width: 60%;
  }

  .computer-flex-cont {
    display: flex;
    width: 80%;
  }

  .computer-img-cont {
    width: 70%;
  }

  .computer-img {
    width: 100%; 
    margin-left: -10%;
  }

  .computer-text {
    width: 30%;
    margin-top: -8%;
  }

  .computer-h2 {
    width: 140%;
    text-align: left;
  }

  .computer-p {
    width: 140%;
    text-align: left;
  }

  .access-section {
    width: 70%;
    padding-bottom: 5%;
  }

  .devices-img {
    padding-top: 10%;
    width: 100%;
  }

  .tools-section {
    padding-bottom: 0;
  }

  .tools-p {
    padding-bottom: 5%;
  }

  .tools-cont {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .tools-icons {
    width: 25%;
    height: 34%;
    object-fit: contain;
  }

  .create-cont {
    width: 25%;
    margin: 0 auto;
  }

  .text-cont {
    width: 25%;
    margin: 0 auto;
  }

  .sneak-cont {
    width: 25%;
    margin: 0 auto;
  }

  .create-head-p, .text-head-p, .sneak-head-p {
    width: 100%;
    font-size: 1.2rem;
  }

  .create-p, .text-p, .sneak-p {
    width: 100%;
    font-size: 0.8rem;
  }

  .logos {
    flex-direction: row;
    width: 80%;
    margin: 0  auto;
    padding: 10% 0;
  }

  .logo-img {
    width: 14%;
    height: 100%;
    padding: 0;
  }

  .ibm {
    width: 10%;
  }

  .hp {
    width: 10%;
  }

  .vector {
    width: 12%;
  }

  .clipboard-section {
    padding-bottom: 10%;
    width: 60%;
  }

  .clipboard-p {
    width: 100%;
    padding-top: 3%;
  }

  .footer-section {
    width: 100%;
  }

  .footer-flex {
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding-top: 3%;
  }

  .footer-logo-cont {
    width: 30%;
  }

  .logo-footer {
    padding: 0;
    margin: 0;
    width: 40%;
  }

  .footer-links {
    width: 100%;
    column-count: 3;
    padding: 0;
  }

  .footer-links li {
    list-style: none;
    padding: 5% 0;
  }

  .footer-socials {
    padding: 0;
    width: 60%;
    text-align: right;
  }

  .footer-socials li {
    padding: 0 3%;
  }

  .info {
    padding: 5% 0 2% 0;
  }
}

@media only screen and (min-width: 1024px) {
  .header-section {
    padding-bottom: 7%;
  }

  .track-p {
    padding-bottom: 5%;
  }

  .computer-text {
    margin: 0;
  }

  .header-para {
    padding-bottom: 5%;
  }

  .btns-cont {
    width: 60%;
  }

  .access-h2 {
    padding-top: 10%;
  }

  .access-section {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 1366px) {
  .header-para {
    width: 60%;
    padding-bottom: 5%;
  }

  .btns-cont {
    width: 42%;
  }

  .track-p {
    width: 40%;
  }

  .computer-p {
    width: 90%;
    margin: 0;
  }

  .access-p {
    width: 60%;
  }

  .tools-h2 {
    padding-bottom: 2%;
  }

  .clipboard-p {
    width: 65%;
    padding-bottom: 5%;
  }
}

.attribution { 
  font-size: 11px; text-align: center;
  color: hsl(210, 10%, 33%); 
}

.attribution a { 
  color: hsl(171, 66%, 44%); 
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}